body {
    margin: 0;
    background-color: lightgray;
}

:root {
    --main-color: white;
}

nav {
    opacity: .85;
}

.nav-item:hover {
    transform: scale(1.1);
}

.my-name {
    text-decoration: none;
    color: #2FE1CC;
}

h1 {
    opacity: .85;
    font-size: 50px;
}

h2 {
    padding: 20px;
    text-align: center;
    color: #2FE1CC;
    font-family: 'Alumni Sans Inline One';
    font-size: 50px;
}

#proyectos {
    color: black;
}

h3 {
    color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Alumni Sans Inline One';
    font-size: 35px;
}

.am {
    background-color: #252420;
    color: var(--main-color);
}

.am div div div{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
}

.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(7px);
}

.bg-text {
    color: var(--main-color);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Alumni Sans Inline One';
}

.bg-text p {
    font-size: 25px;
    font-weight: normal;
}

.home {
    background-image: url('./images/ssp-laptop.jpg');
}

.custom-section {
    padding-top: 50px;
}

.cb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-text {
    font-family: 'New Tegomin';
}

footer {
    background-color: black;
    color: var(--main-color);
    padding: 20px 0;
    margin-top: 40px;
    text-align: center;
}